<h2><a id="recent-papers-updated" class="anchor" href="#workingpapers" aria-hidden="true"><span class="octicon octicon-link"></span></a>Working Papers</h2>
<!-- 
  在此处添加您的工作论文。每个条目建议格式如下：
  <p style="margin:0"> 
    <a style="margin:0; font-size:100%; font-weight:bold" href="[指向您论文PDF的链接]">[您的论文标题]</a> <br> 
    [与合作者姓名，可选，例如：with <a href="[合作者主页链接]">[合作者姓名]</a>] <br> 
    (updated [更新日期]) <br>
    <button class="accordion">Abstract</button>
    <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
      <p>[您的论文摘要]</p>
    </div>
  </p><br>
  <hr> 
-->
<p style="margin:0"> 暂无工作论文 <br> <br> 

<hr>                    

<h2><a id="published-papers-updated" class="anchor" href="#publications" aria-hidden="true"><span class="octicon octicon-link"></span></a>Published &amp; Forthcoming Papers</h2>

<p style="margin:0"> 
  <a style="margin:0; font-size:100%; font-weight:bold" href="#">活用数字数据构建研究平台：研究人员与图书馆员协作下的"数字源氏物语"尝试</a> <br> 
  中村美里, 木越みち, 小川夏代子, 王子睿 <br> 
  <i>数字人文研究</i>, 2025, 5 (01): 54-75. <br>
  <button class="accordion">Abstract</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p>摘要待补充。</p>
  </div>
  <p style="margin:0"><button class="accordion">BibTeX citation</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p><pre><code>@article{SZYH202501005,
author = {  中村美里 and     木越みち and     小川夏代子 and 王子睿},
title = {活用数字数据构建研究平台：研究人员与图书馆员协作下的"数字源氏物语"尝试},
journal = {数字人文研究},
volume = {5},
number = {01},
pages = {54-75},
year = {2025},
issn = {2096-9155},
}</code></pre></p>
  </div></p><br>
</p>
<hr>

<p style="margin:0"> 
  <a style="margin:0; font-size:100%; font-weight:bold" href="#">日本计量文体学发展历程：从文章心理学走向数字人文</a> <br> 
  王子睿 <br> 
  <i>数字人文研究</i>, 2024, 4 (03): 115-128. <br>
  <button class="accordion">Abstract</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p>摘要待补充。</p>
  </div>
  <p style="margin:0"><button class="accordion">BibTeX citation</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p><pre><code>@article{SZYH202403008,
author = {王子睿},
title = {日本计量文体学发展历程：从文章心理学走向数字人文},
journal = {数字人文研究},
volume = {4},
number = {03},
pages = {115-128},
year = {2024},
issn = {2096-9155},
}</code></pre></p>
  </div></p><br>
</p>
<hr>

<p style="margin:0"> 
  <a style="margin:0; font-size:100%; font-weight:bold" href="#">基于计量文体学的谷崎润一郎小说文体变化研究</a> <br> 
  王子睿, 刘善钰 <br> 
  <i>日语教育与日本学</i>, 2023, (01): 69-79. <br>
  <button class="accordion">Abstract</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p>摘要待补充。</p>
  </div>
  <p style="margin:0"><button class="accordion">BibTeX citation</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p><pre><code>@article{RYJY202301007,
author = {  王子睿 and 刘善钰},
title = {基于计量文体学的谷崎润一郎小说文体变化研究},
journal = {日语教育与日本学},
number = {01},
pages = {69-79},
year = {2023},
}</code></pre></p>
  </div></p><br>
</p>
<hr>

<p style="margin:0"> 
  <a style="margin:0; font-size:100%; font-weight:bold" href="#">基于定量分析的吴树文翻译文体研究</a> <br> 
  王子睿, 刘善钰 <br> 
  <i>语言与文化论坛</i>, 2023, (02): 194-205. <br>
  <button class="accordion">Abstract</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p>摘要待补充。</p>
  </div>
  <p style="margin:0"><button class="accordion">BibTeX citation</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p><pre><code>@article{YWHT202302019,
author = {  王子睿 and 刘善钰},
title = {基于定量分析的吴树文翻译文体研究},
journal = {语言与文化论坛},
number = {02},
pages = {194-205},
year = {2023},
}</code></pre></p>
  </div></p><br>
</p>
<hr>

<p style="margin:0"> 
  <a style="margin:0; font-size:100%; font-weight:bold" href="#">基于语料库翻译文体学的《春琴抄》三译本对比研究</a> <br> 
  王子睿, 蒋敬诚 <br> 
  <i>亚太跨学科翻译研究</i>, 2023, (01): 79-91. <br>
  <button class="accordion">Abstract</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p>摘要待补充。</p>
  </div>
  <p style="margin:0"><button class="accordion">BibTeX citation</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p><pre><code>@article{KKFY202301006,
author = {  王子睿 and 蒋敬诚},
title = {基于语料库翻译文体学的《春琴抄》三译本对比研究},
journal = {亚太跨学科翻译研究},
number = {01},
pages = {79-91},
year = {2023},
}</code></pre></p>
  </div></p><br>
</p>
<hr>

<p style="margin:0"> 
  <a style="margin:0; font-size:100%; font-weight:bold" href="#">新文科背景下的日语语言文学硕士论文计量文献学考察（2012—2022）</a> <br> 
  刘善钰, 王子睿 <br> 
  <i>文化与传播</i>, 2023, 12 (04): 66-73. <br>
  <button class="accordion">Abstract</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p>摘要待补充。</p>
  </div>
  <p style="margin:0"><button class="accordion">BibTeX citation</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p><pre><code>@article{WNCB202304011,
author = {  刘善钰 and 王子睿},
title = {新文科背景下的日语语言文学硕士论文计量文献学考察（2012—2022）},
journal = {文化与传播},
volume = {12},
number = {04},
pages = {66-73},
year = {2023},
issn = {2095-459X},
}</code></pre></p>
  </div></p><br>
</p>
<hr>

<p style="margin:0"> 
  <a style="margin:0; font-size:100%; font-weight:bold" href="https://doi.org/10.19954/j.cnki.lcr.2023.03.018">日本主流媒体对"一带一路"倡议相关报道的评析</a> <br> 
  刘善钰, 罗雨虹, 王子睿 <br> 
  <i>语言与文化研究</i>, 2023, 28 (03): 196-201. <br>
  <button class="accordion">Abstract</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p>摘要待补充。</p>
  </div>
  <p style="margin:0"><button class="accordion">BibTeX citation</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p><pre><code>@article{YYWY202303041,
author = {  刘善钰 and     罗雨虹 and 王子睿},
title = {日本主流媒体对"一带一路"倡议相关报道的评析},
journal = {语言与文化研究},
volume = {28},
number = {03},
pages = {196-201},
year = {2023},
doi = {10.19954/j.cnki.lcr.2023.03.018}
}</code></pre></p>
  </div></p><br>
</p>
<hr>

<p style="margin:0"> 
  <a style="margin:0; font-size:100%; font-weight:bold" href="#">基于R语言的《春琴抄》翻译文体计量研究</a> <br> 
  王子睿 <br> 
  <i>硕士学位论文, 广西大学</i>, 2023. <br>
  <button class="accordion">Abstract</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p>摘要待补充。</p>
  </div>
  <p style="margin:0"><button class="accordion">BibTeX citation</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p><pre><code>@mastersthesis{1023816468.nh,
author = {王子睿},
title = {基于R语言的《春琴抄》翻译文体计量研究},
school = {广西大学},
year = {2023}
}</code></pre></p>
  </div></p><br>
</p>
<hr>

<p style="margin:0"> 
  <a style="margin:0; font-size:100%; font-weight:bold" href="https://doi.org/10.19954/j.cnki.lcr.2023.02.026">比较文学变异学视角下的《春琴抄》与《黄心大师》</a> <br> 
  王子睿, 蒋敬诚 <br> 
  <i>语言与文化研究</i>, 2023, 27 (02): 193-197. <br>
  <button class="accordion">Abstract</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p>摘要待补充。</p>
  </div>
  <p style="margin:0"><button class="accordion">BibTeX citation</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p><pre><code>@article{YYWY202302038,
author = {  王子睿 and 蒋敬诚},
title = {比较文学变异学视角下的《春琴抄》与《黄心大师》},
journal = {语言与文化研究},
volume = {27},
number = {02},
pages = {193-197},
year = {2023},
doi = {10.19954/j.cnki.lcr.2023.02.026}
}</code></pre></p>
  </div></p><br>
</p>
<hr>

<p style="margin:0"> 
  <a style="margin:0; font-size:100%; font-weight:bold" href="#">比较文学变异学视角下的《鹤唳》对《西湖佳话》的变异</a> <br> 
  王子睿, 蒋敬诚 <br> 
  <i>文化与传播</i>, 2021, 10 (04): 9-13. <br>
  <button class="accordion">Abstract</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p>摘要待补充。</p>
  </div>
  <p style="margin:0"><button class="accordion">BibTeX citation</button>
  <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
    <p><pre><code>@article{WNCB202104006,
author = {  王子睿 and 蒋敬诚},
title = {比较文学变异学视角下的《鹤唳》对《西湖佳话》的变异},
journal = {文化与传播},
volume = {10},
number = {04},
pages = {9-13},
year = {2021},
issn = {2095-459X},
}</code></pre></p>
  </div></p><br>
</p>
<hr>

<h2><a id="works-in-progress" class="anchor" href="#workinprogress" aria-hidden="true"><span class="octicon octicon-link"></span></a>Works in Progress</h2>
<!-- 
  在此处添加您正在进行的研究。每个条目建议格式如下：
  <p style="margin:0"> 
    <b>[您的研究标题]</b> <br> 
    [与合作者姓名，可选，例如：with <a href="[合作者主页链接]">[合作者姓名]</a>.] <br>
    <button class="accordion">Abstract</button>
    <div class="panel" style="background-color: #F1F1F1; color: #666; padding: 10px;">
      <p>[您的研究摘要，可以说"Coming soon."]</p>
    </div>
  </p><br>
-->
<p style="margin:0"> 暂无进行中研究 <br> <br>
